In [1]:
city_bounds = {
    "battaramulla": ({'lat': 6.915764599999999, 'lng': 79.9301969}, {'lat': 6.8843539, 'lng': 79.91079119999999}),
    "nawala": ({'lat': 6.9052174, 'lng': 79.9020336}, {'lat': 6.8835912, 'lng': 79.8825109}),
    "mount lavinia": ({'lat': 6.867572, 'lng': 79.89857289999999}, {'lat': 6.8056, 'lng': 79.8593188}),
    "hokandara": ({'lat': 6.8877172, 'lng': 79.97858819999999}, {'lat': 6.8672758, 'lng': 79.9452783}),
    "kaduwela": ({'lat': 6.939483699999999, 'lng': 79.99341299999999}, {'lat': 6.9204688, 'lng': 79.97079289999999}),
    "thalawathugoda": ({'lat': 6.883908, 'lng': 79.9553669}, {'lat': 6.8662864, 'lng': 79.92697489999999}),
    "athurugiriya": ({'lat': 6.8819269, 'lng': 80.0075457}, {'lat': 6.864916, 'lng': 79.9887353}),
    "dehiwala": ({'lat': 6.8623248, 'lng': 79.86594529999999}, {'lat': 6.849024099999999, 'lng': 79.85984069999999}),
    "piliyandala": ({'lat': 6.8249271, 'lng': 79.97154359999999}, {'lat': 6.7542836, 'lng': 79.9010754}),
    "madapatha": ({'lat': 6.7760188, 'lng': 79.9386852}, {'lat': 6.7583331, 'lng': 79.9234156}),
    "kesbewa": ({'lat': 6.8003012, 'lng': 79.9717357}, {'lat': 6.7654041, 'lng': 79.9287796}),
    "makandana": ({'lat': 6.786537999999999, 'lng': 79.9570411}, {'lat': 6.7668988, 'lng': 79.9430537}),
    "boralesgamuwa": ({'lat': 6.8565909, 'lng': 79.9294188}, {'lat': 6.816383099999999, 'lng': 79.88501169999999}),
    "kirulapone": ({'lat': 6.888254900000001, 'lng': 79.8876579}, {'lat': 6.872669200000001, 'lng': 79.8709435}),
    "ranala": ({'lat': 6.925045, 'lng': 80.0452629}, {'lat': 6.9063481, 'lng': 80.021112}),
    "kahathuduwa": ({'lat': 6.797527199999999, 'lng': 80.01571969999999}, {'lat': 6.769825, 'lng': 79.97891039999999}),
    "nugegoda": ({'lat': 6.8828657, 'lng': 79.9296154}, {'lat': 6.848373199999999, 'lng': 79.8817041}),
    "malabe": ({'lat': 6.9248398, 'lng': 79.9854362}, {'lat': 6.8838015, 'lng': 79.9454283}),
    "bope": ({'lat': 6.8461149, 'lng': 80.1463794}, {'lat': 6.8163727, 'lng': 80.1226044}),
    "pitakotte": ({'lat': 6.8921707, 'lng': 79.9145601}, {'lat': 6.8711736, 'lng': 79.8996827}),
    "homagama": ({'lat': 6.865331400000001, 'lng': 80.02724649999999}, {'lat': 6.8248525, 'lng': 79.9851894}),
    "bomiriya": ({'lat': 6.9445431, 'lng': 80.0101419}, {'lat': 6.9260727, 'lng': 79.98667669999999}),
    "diyagama": ({'lat': 6.635854999999999, 'lng': 80.010548}, {'lat': 6.627502, 'lng': 79.995014}),
    "maharagama": ({'lat': 6.866561799999999, 'lng': 79.93963280000001}, {'lat': 6.8338568, 'lng': 79.9100843})
}

In [6]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
df1 = pd.read_csv("../datasets/P3_Data.csv")
df2 = df1.copy()
df2.head()

,Address_ID,Address,Land_size(Perches),Price_Scale,Land_type,Posted_Date_new,Distance from fort,count_govtschools_A,min_dist_govtschools_a,count_govtschools_B,...,police_mdist,post_office_count,post_office_mdist,pharmacy_count,pharmacy_mdist,movie_theater_count,movie_theater_mdist,library_count,library_mdist,Air
0,12,nawala,22.00,per perch,"Commercial, Residential",9/21/2021,9.16,2,1.53,12,...,1115,0,0,10,1899,1,1541,2,1425,124
1,16,mount lavinia,23.00,per perch,Residential,9/21/2021,12.89,0,2.73,5,...,1642,3,1177,2,1751,0,0,0,0,119
2,12,nawala,22.00,per perch,"Commercial, Residential",9/21/2021,9.16,2,1.53,12,...,864,0,0,10,1648,1,1290,2,1173,124
3,22,hokandara,11.00,total price,Residential,9/21/2021,16.39,0,4.67,1,...,0,0,0,1,1045,0,0,0,0,122
4,6,battaramulla,20.00,per perch,Residential,9/21/2021,11.35,0,3.10,3,...,1318,4,411,9,1953,0,0,3,1676,124

In [8]:
import pandas as pd

# Categories for one-hot encoding
categories = [
    'Agricultural',
    'Commercial',
    'Residential',
    'Other'
]

# Define a function to apply one-hot encoding
def apply_one_hot_encoding(row):
    one_hot_encoding = [0] * len(categories)
    
    # Split the row string into categories
    row_categories = row.split(',')
    
    # Update one-hot encoding based on presence of categories
    for category in row_categories:
        if category in categories:
            index = categories.index(category)
            one_hot_encoding[index] = 1
    
    return one_hot_encoding

# Apply one-hot encoding to the 'Land_type' column
df_encoded = pd.DataFrame(df2['Land_type'].apply(apply_one_hot_encoding).tolist(), columns=categories)

# Concatenate the original DataFrame with the encoded one-hot columns
df3 = pd.concat([df2, df_encoded], axis=1)

# Drop the original 'Land_type' column
df3 = df3.drop('Land_type', axis=1)

df3.head()

,Address_ID,Address,Land_size(Perches),Price_Scale,Posted_Date_new,Distance from fort,count_govtschools_A,min_dist_govtschools_a,count_govtschools_B,min_dist_govtschools_b,...,pharmacy_mdist,movie_theater_count,movie_theater_mdist,library_count,library_mdist,Air,Agricultural,Commercial,Residential,Other
0,12,nawala,22.00,per perch,9/21/2021,9.16,2,1.53,12,0.86,...,1899,1,1541,2,1425,124,0,1,0,0
1,16,mount lavinia,23.00,per perch,9/21/2021,12.89,0,2.73,5,0.19,...,1751,0,0,0,0,119,0,0,1,0
2,12,nawala,22.00,per perch,9/21/2021,9.16,2,1.53,12,0.86,...,1648,1,1290,2,1173,124,0,1,0,0
3,22,hokandara,11.00,total price,9/21/2021,16.39,0,4.67,1,0.39,...,1045,0,0,0,0,122,0,0,1,0
4,6,battaramulla,20.00,per perch,9/21/2021,11.35,0,3.10,3,0.19,...,1953,0,0,3,1676,124,0,0,1,0